html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Archivo Black', sans-serif;
}
.parallax{
    background: url(img/55-min.jpg);
    background-attachment: fixed;
}
.parallax-inner{
    padding-top: 20%;
    padding-bottom: 20%;
}
h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 500%;
    color: #FFF;
    letter-spacing: 3px;
}
.name{
    color: #FFF;
    text-decoration: none;
    font-weight: 800;
    font-size: 5vh;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    background: #272727;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    height: 100%;
}
ul li{
    list-style: none;
    line-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
ul li a{
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    font-size: 3vh;
}
ul li:hover{
    background: #24c5ff;
    color: #FFF;
}
.content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.page{
    background: #1c1c1d;
    width: 100%;
    height: 30em;
    color: #FFF;
    font-family: 'Archivo Black', sans-serif;
}
h2{
    font-size: 250%;
    text-align: center;
    padding-top: 3em;
}
.about p{
    font-size: 150%;
    padding-top: 4em;
    max-width: 50em;
    margin: 0 auto;
    letter-spacing: 1px;
    text-align: center;
}
.about{
    background: #111111;
    width: 100%;
    height: 35em;
    color: #FFF;
    font-family: 'Archivo Black', sans-serif;
}
.work{
    padding-top: 3em;
    padding-bottom: 8em;
    width: 100%;
    background: #393d42;
}
.list{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.column img{
    vertical-align: middle;
    width: 100%;
}
.kontakt p{
    font-size: 120%;
    padding-top: 2em;
    max-width: 50em;
    margin: 0 auto;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(197, 197, 197);
}
@media screen and (max-width: 1100px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
    #ehm{
        background: #FFF;
    }
    .name{
        font-size: 3vh;
        font-weight: 500;
    }
    ul li a{
        padding: 0 15px;
        font-size: 2vh;
    }
}
@media screen and (max-width: 800px){
    .name{
        font-size: 2.5vh;
        font-weight: 500;
    }
    ul li a{
        padding: 0 15px;
        font-size: 2vh;
    }
    .about{
        font-size: 100%;
    }
    h1{
        font-size: 3em;
    }
}
@media screen and (max-width: 550px){
    .about{
        font-size: 80%;
    }
    h1{
        font-size: 3em;
    }
}
